* {
  font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    /* color: #3A3B3C; */
}

#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(16, 16, 19, 0.7);
  border-radius: 0;
  border-right: 2px solid #252E3C;
  /* background-color: #1e1e2e; */
  /* border: 2px solid #313244; */
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
    background: #1e1e2e;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

window#waybar.hidden {
  opacity: 0.5;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#bluetooth,
#cutom-terminal,
#window,
#workspaces,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-hyprpicker,
#custom-playerlabel,
#custom-playerctl,
#custom-pctlpr,
#custom-pctlps,
#custom-pctln,
#custom-cycle_wall,
#custom-cpuicon,
#custom-volicon,
#custom-neticon,
#custom-memicon,
#custom-diskicon,
#custom-blicon,
#custom-baticon,
#custom-clockicon,
#custom-micicon,
#network {
  border-radius: 10px;
  margin: 0 6px;
  padding: 6px 2px 6px 2px;
  background: #1E1E20;
  color: #ffffff;
  /*border: 2px solid #3a3b3c; */
}

#custom-blicon{

  color: #cba6f7;

}

#custom-memicon{

  color: #eba0ac;

}

#cpu,
#disk,
#memory,
#pulseaudio,
#backlight,
#battery,
#network{
  background-color: #252527;
  padding: 8px 0px 8px 0px;
  border-radius: 0px 0px 10px 10px;
}

#custom-pctlps{

  border-radius: 0;

}

#custom-pctln{

  padding: 8px 0px 8px 0px;
  border-radius: 0px 0px 10px 10px;

}

#custom-pctlpr,
#custom-pctlps,
#custom-pctln{

  color: #86B4FA;
  font-size: 15px;

}

#custom-cpuicon,
#custom-volicon,
#custom-memicon,
#custom-diskicon,
#custom-pctlpr,
#custom-blicon,
#custom-clockicon,
#custom-micicon,
#custom-baticon {

  padding: 8px 0px 8px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #1E1E20;

}

#custom-cpuicon{

  color: #89dceb;

}

#workspaces,
#pulseaudio,
#battery,
#tray,
#backlight,
#clock,
#cpu,
#memory,
#custom-neticon,
#custom-power{

  margin-bottom: 8px;

}

#custom-neticon{

  color: #101013;
  background-color: #89b4fa;
  padding: 12px 6px 12px 6px;

}

#custom-baticon{

  color: #EDCA8C;
  padding: 8px 6px 8px 6px;

}

#workspaces {
  color: #F9E2AF;
}

#window{

  padding: 7px 15px;

}

#battery {
  padding: 8px 0px 8px 4px;
  color: #fff;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: rgba(249, 226, 175, .7);
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
  color: #b4befe;
}

#tray {
  color: #b4befe;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces button {
  background: rgba(0,0,0,0.0);
  color: #d9e0ee;
  /* border: 2px solid #3a3b3c; */
}

#workspaces button.active {
  background-color: #252527;
  padding: 2px 0px 2px 0px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 10px;
}

#custom-menu {
  font-size: 15px;
  padding: 10px 6px 10px 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #7C9EC3;
  color: #101013;
}

#custom-power {
  padding: 6px 6px 3px 6px;
  color: #101013;
  background-color: #C5676D;
  font-size: 15px;
}

#custom-updater {
  color: #e6ed7b;
}

#custom-uptime {
  color: #e6ed7b;
}

#custom-weather {
  color: #fff;
}

#custom-hyprpicker {
  color: #fff;
}

#custom-cycle_wall {
  color: #89dceb;
}

#custom-vpn_check {
  color: #a6e3a1;
}

#custom-cputemp {
  color: #86b4fa;
}

#custom-keybindings {
  color: #86b4fa;
  font-size: 24px;
}

#custom-volicon,
#custom-micicon,
#custom-clockicon {

    color: #74DD91;

}

#custom-spotify {
    padding: 0 10px;
    margin: 6px 4px;
    border-radius: 8px;
    background-color: #6BD999;
    color: black;
}

#pulseaudio {
}

#pulseaudio.bluetooth {
  color: #f5c2e7;
}
#pulseaudio.muted {
  
  color: #cdd6f4;
}

#network {
  color: #89b4fa;
}
#network.disconnected,#network.disabled {
  
  color: #cdd6f4;
}
